header.header 
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo 
                    a(href="/gv/pagehome") student
            .col-9 
                div(class="text-right")
                    a(href=`/sv/detail` class="btn btn-primary btn-sm mr-2") sv 
                    a(href=`/auth/sv/logout` class="btn btn-danger btn-sm") Đăng Xuất