.inner-menu 
  ul 
    li
      a(href="/sv/detail")
        i.fa-solid.fa-address-card
        span Thông tin cá nhân
    li
      a(href="/sv/listclass")
        i.fa-solid.fa-layer-group
        span Danh sách môn học
    li 
      a(href="/dsgv")
        i.fa-solid.fa-comment-dots
        span Trò chuyện