header.header 
.container-fluid
    .header-wrapper
      .inner-logo
        a(href="/gv/pagehome")
          i.fa-solid.fa-graduation-cap.mr-2
          span EduPortal
      
      .inner-actions
        .user-meta.mr-3
          span.status-online
          span.user-name #{user.tenGv}
        a(href=`/auth/gv/logout` class="btn-logout")
          i.fa-solid.fa-right-from-bracket
          span Đăng Xuất