.inner-menu 
    ul 
        li 
            a(href="/gv/listclass")
                i.fa-solid.fa-address-card
                span  Danh sách lớp
        li 
            a(href="/gv/mongiang")
                i.fa-solid.fa-layer-group
                span Danh sách môn học
        li
            a(href="/dssv")
                i.fa-solid.fa-inbox
                span Trò chuyện