extends ./layout.pug

block main
  .chat-container-fluid
    .container
      .row.justify-content-center
        .col-12
          .chat(my-id=user._id)
            .inner-body#chat-body
              each chat in chats 
                - var isMine = chat.user_id == user._id
                div(class= (isMine ? "inner-outgoing" : "inner-incoming"))
                  if !isMine
                    .inner-name #{user.tenGv || user.tensv}
                  
                  if chat.content
                    .inner-content
                      | #{chat.content}
                
              .inner-list-typing                  
            
            .inner-foot 
              form(action="" class="inner-form")
                .input-group
                  input(type="text" placeholder="Nhập nội dung..." name="content" autocomplete="off")
                  label(for="file-upload" class="btn-file")
                    i.fa-solid.fa-paperclip
                    input#file-upload(type="file" hidden)
                  button.btn-send
                    i.fa-solid.fa-paper-plane

  script(type="module" src="/chats/chat.js")